<div class="modal-header">
        <h4 class="modal-title" id="BenefitScenariosContentModal">Delete Category</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deleting a category will also remove all posts associated with it</p>
        <p>Are you sure that you want to delete the category: <strong>{{DeletedCategory.name}}</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="Save()">Delete</button>
      </div>
    