<app-nav></app-nav>
<div class="container">
  <div class="row">
  <div class = "col-sm-12">
  
<fieldset *ngIf = "renderGrid" class="border p-2 fieldset-bottom-margin">
        <legend class="w-auto legend-text">Benefit Projection By Age</legend>

        <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" colspan="2">Stop Work</th>
                    <th scope="col" colspan="11">Start Benefit Age</th>
                  </tr>
                </thead>
                <tr>
                    <td>Year</td>
                    <td>Age</td>
                    <td>60</td>
                    <td>61</td>
                    <td>62</td>
                    <td>63</td>
                    <td>64</td>
                    <td>65</td>
                    <td>66</td>
                    <td>67</td>
                    <td>68</td>
                    <td>69</td>
                    <td>70</td>
                </tr>
                <tr *ngFor = "let GroupedScenario of DisplayedScenarios; let i = index;">
                    <td bgcolor="#ffe5e5">{{GroupedScenario[0].StopWork}}</td>
                    <td bgcolor="#ffe5e5"> {{i + 55}}</td>
                    <ng-container *ngFor="let scenario of GroupedScenario">
                    <td bgcolor="#e6fff7" *ngIf="scenario.value != 0">{{scenario.value.toFixed(2)}}</td>
                    <td *ngIf="scenario.value === 0">-</td>
                  </ng-container>
                </tr>
                </table>
</fieldset>
</div>
</div>
</div>