  <input (click)="showPicker = !showPicker" type="text" class="form-control" aria-label="Text input with dropdown button" 
  [(ngModel)]="formattedDate" placeholder="(YYYY-MM)" 
  autocomplete="off" readonly style="background-color: white;">
  <div class="date-picker-container" *ngIf="showPicker">
    <div ngbDropdown class="d-inline-block btn-margin-1">
      <label>Month</label>
      <select (ngModelChange)="changeMonth($event)" [(ngModel)]="selectedStringMonth" class="form-control btn btn-outline-primary" id="monthSelect" name="monthSelect">
        <option class="btn btn-light" *ngFor="let month of months">{{month}}</option>
      </select>
    </div>

    <div ngbDropdown class="d-inline-block btn-margin-1">
      <label>Year</label>
      <select (ngModelChange)="changeYear($event)" [(ngModel)]="selectedYear" class="form-control btn btn-outline-primary" id="yearSelect" name="yearSelect">
        <option class="btn btn-light" *ngFor="let year of years">{{year}}</option>
      </select>
    </div>
  </div>
