<app-nav></app-nav>
<div class="container">
<div class="row">
    <div class="col">
            <h1>Manage Categories</h1>
            
            <form class="form-inline" ngNativeValidate>
            <div class="form-group">
                    <label for="NewCategory">New Category</label>
                    <input type="text" class="form-control margin-left-1" id="NewCategory" name="NewCategory" [(ngModel)] = "NewCategory.name" placeholder="Category Name" required>
          
                    <input type="submit" class="btn btn-primary margin-left-1" (click)="onAdd()" value="Add"/>
                    
            </div>
            </form>
<br>
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let category of AllCategories">
                <td>{{ category.name }}</td>
                <td>
                    <button class="btn btn-primary" (click)="onUpdate(category)">Update</button>
                    <button class="btn btn-danger margin-left-1" (click)="onDelete(category)">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
            <button class="btn btn-dark" (click)="Done()">Done</button>
    </div>
</div>
</div>      

