<div class="container-fluid h-100 bg-black">
    <div class="row d-flex justify-content-center align-items-center login-box-container">
    <div class="login-box jumbotron">
        <img src="assets/img/Logo3.jpg" style="max-width:50%"/>
      <hr>
        <form #resetForm = "ngForm" (ngSubmit)="reset(resetForm)">
        <div *ngIf="errorMessage != ''" class="alert alert-danger">
          {{errorMessage}}
        </div>
        <div class="alert alert-info" role="alert">
        Please enter a new password for your account
        </div>
      
        <div class="form-group">
            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password"
            name = "password" [(ngModel)]="password" (ngModelChange)="checkPasswordsMatch()" 
            required #passwordText="ngModel">
            <div *ngIf="passwordText.invalid && (passwordText.dirty || passwordText.touched)"
            class="alert alert-danger">
        
            <div *ngIf="passwordText.errors.required">
              Password is required
            </div>
          </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control form-control-lg" id="ConfirmPassword" placeholder="Confirm Password"
            name = "confirmPassword" [(ngModel)]="confirmPassword" (ngModelChange)="checkPasswordsMatch()" 
            required #confirmPasswordText="ngModel">
            <div *ngIf="confirmPasswordText.invalid && (confirmPasswordText.dirty || confirmPasswordText.touched)"
            class="alert alert-danger">
        
            <div *ngIf="confirmPasswordText.errors.required">
              Password Confirmation is required
            </div>
          </div>
          </div>

        <div *ngIf="!passwordsMatch" class="alert alert-danger" role="alert">
            Passwords do not match
        </div>
      
      <button type="submit" class="btn btn-primary btn-lg" [disabled]="loadingResponse || !passwordsMatch || resetForm.invalid">
          <span *ngIf="loadingResponse" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Set Password
      </button>
      <br><br>
    </form>
  </div>
    </div>
    </div>