 <fieldset class="border p-2 fieldset-bottom-margin">
  <legend class="w-auto legend-text">Personal Details</legend>

  <form name="form" #form="ngForm">
 
 <div class="form-group row">
    <label for="InputName" class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input name="name" type="text" class="form-control" id="InputName" 
      placeholder="Name" [(ngModel)]="Profile.Name" #name="ngModel">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="InputBirth" class="col-sm-3 col-form-label">Date of Birth</label>
    <div class="col-sm-9">
      <!-- <input type="text" name="DOB" [(ngModel)]="DateOfBirth" class="form-control" id="InputBirth" placeholder="(YYYY-MM)" (input)="onTextChange()" #DOB="ngModel"> -->
      <!-- <month-date-picker [formattedDate]="DateOfBirth" (dateSelected)="onDateSelected($event)"></month-date-picker> -->
      <month-date-picker-inline [formattedDate]="DateOfBirth"
              (dateSelected)="onDateSelected($event)" [futureYearsOnly]="false"></month-date-picker-inline>
    </div>
  </div>

  </form>
 </fieldset>
