<form>
  <div class="form-group">
    <label for="CategoryInput">Category</label>
    <select class="form-control" id="CategoryInput" name="SelectedCategory" [(ngModel)] = "SelectedCategory"> 
      <option [ngValue]="category" *ngFor="let category of AllCategories">{{category.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="InputTitle">Title</label>
    <input name="NewTitle" type="text" [(ngModel)]="newBlogPost.title" class="form-control" id="InputTitle"
      placeholder="Title">
  </div>

  <div class="form-group">
    <label for="InputBody">Content</label>
    <ckeditor name="NewBody" [editor]="Editor" [(ngModel)]="newBlogPost.body" data={{newBlogPost.body}}></ckeditor>
  </div>

  <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>