<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to our information centre</h1>
      <p class="lead">Explore our digital collection and browse through our resources</p>
      <hr class="my-4">
      <p>Select a category to read from</p>
      <div ngbDropdown class="d-inline-block">
        <button *ngIf = "AllCategories && !SelectedCategory" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>All</button>
        <button *ngIf = "AllCategories && SelectedCategory" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{SelectedCategory.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="onSelectAll()">All</button>
          <button *ngFor="let category of AllCategories" ngbDropdownItem (click)="onSelect(category)">{{category.name}}</button>
        </div>
      </div>

<div class="margin-top-1">
  <a class="btn btn-outline-danger" routerLink="/new_post">+ Create a new resource</a>
  <a class="btn btn-outline-primary margin-left-1" routerLink="/categories">Manage Categories</a>
</div>

    </div>
  </div>
</div>
<div *ngFor="let post of AllPosts" class=blog-thumbnail>
  <h4>{{post.title}}</h4>
  <div class="post-date">{{Helper.PrintDate(post.updated_at)}} | {{post.category.name}}</div>
  <div class="blog-body-thumbnail" [innerHTML]="(post.body | slice :0:300) + ' ...'"></div>
  <a class="btn btn-outline-dark" routerLink="/post/{{post.id}}">Read More</a>
  <hr>
</div>
