<div class="modal-header">
    <h4 class="modal-title" id="BenefitScenariosContentModal">Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="Cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="form-group">
                <label for="NewPassword">New Password</label>
                <input type="password" class="form-control" id="NewPassword" 
                name="PasswordText" placeholder="Password" [(ngModel)] = "password" required>
              </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="Done()">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="Cancel()">Cancel</button>
  </div>
