<div class="modal-header">
        <h4 class="modal-title" id="BenefitScenariosContentModal">Delete Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Are you sure that you want to delete profile: {{profileName}} ?</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
      </div>
    